<% if @user.errors.any? %>
	<div id="error_explanation">
		<div class="alert alert-error">
			出错啦:(
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
			<li>
				<div class="alert alert-error">
					<%= msg %>
				</div>
			</li>
			<% end %>
		</ul>
	</div>
<% end %>