body{
	font-family: "Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;
    background-color: #3F4652;
    background-image: url('bg.png');
}
header{
	background-image: url("header_bg.png");
	background-repeat: repeat-x repeat-y;
	height:50px;
	nav{
		float:right;
		margin-right: 30px;
	}
}

ul#nav{
	margin-top: 20px;
	li{
		display: inline;
		list-style-type: none;
    	font-size:15px;
    	font-weight: bold;
    	a{
			color:#FFFFFF;
			text-decoration: none;
    		&:hover{
    			color:#00CC66;
    		}
            cursor:pointer;
   	  }
	}
}

ul#nav>li.fl-li{
    margin-left: 20px;
}

.caret {
    border-left: 4px solid rgba(1, 1, 1, 1);
    border-right: 4px solid rgba(1, 1, 1, 1);
    border-top: 4px solid #FFFFFF;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
}
ul#header_dropdown{
    background-color: #CCCCCC;
    li{
        a{
        color:#3F4652;
        &:hover{
            color:#FFFFFF;
            background-image: none;
            background-color: #00cc99;
        }
    }
 }
}


img#logo{
	width:100px;
}

header>a{
	margin-left: 40px;
}

form#new_user,form#signin_form{
	background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.333);
    margin: auto;
    padding: 2.5em;
    padding-bottom: 40px;
    width: 19em;
    label{
    	font-size:16px;
    }
    input{
    	font-size:16px;
    	padding-left:5%;
    	padding-right: 5%;
    	padding-top:10px;
    	padding-bottom:10px;
    	width:90%;
    }
    input.btn{
    	width:100%;
    	background:#33CC99;
    	border-color:#33DD99;
    }

}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/*div#signup_page{
	height:100vh;
	background-color: #3F4652; 
	background-image: url('bg.png');
	padding-top:50px;
	padding-bottom: 50px;
}
*/
div#signin_page{
    padding-top:50px;
    padding-bottom: 50px;  
}

div.container{
    padding-top: 80px;
    h1{
        color:#FFFFFF;
        margin-bottom: 30px;
    }
    h2,h3{
        color:#FFFFFF;
        a{
           color:#33CC99;
           &:hover{
            color:#00cc66;
           }

        } 
    }

}

