// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form#signin_form{
	input#remember_checkbox{
		display:inline;
		width:auto;
		margin-bottom: 5px;
    }
    label#remember_label{
        display: inline;
        font-size:15px;
    }
    label#to_signup_label{
    	float:right;
    	font-size:14px;
    	margin-top:5px;
    }
    a#to_signup{
    	color:#33CC99;
    	&:hover{
    	 color:#00cc66;
    	}
    }
}