// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a#to_signin{
	color:#33CC99;
	&:hover{
	 color:#00cc66;
	}
}

form#new_user>label#to_signin_label{
	float:right;
	font-size:14px;
	margin-top:5px;
}

div#edit_user_page{
	form{
		label{
			color:#FFFFFF;
		}
	}
}

form.edit_user{
    border-radius: 8px;
    margin-left: 50px;
    width: 19em;
    label{
    	font-size:16px;
    }
    input{
    	font-size:16px;
    	padding-left:5%;
    	padding-right: 5%;
    	padding-top:10px;
    	padding-bottom:10px;
    	width:90%;
    }
    input.btn{
    	width:100%;
    	background:#33CC99;
    	border-color:#33DD99;
    }

}

.gravatar{
	width:200px;
	border-radius: 8px;
    margin-top: 20px;
}