<header class="navbar navbar-default navbar-fixed-top">
	<%= link_to image_tag("logo.png",alt:"Moovvee",id:"logo"),'#'%>
	<nav id="header_nav">
		<ul>
			<li><a>Home</a></li>
			<li><a>Users</a></li>
		</ul>
	</nav>
</header>